header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 15dvh;
    width: 100%;
    background-color: #020617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    z-index: 100;
}

.hamburger-menu {
    display: none;
}

.logo-container img {
    width: 13dvw;
    object-fit: cover;
    height: auto;
    border-radius: 5px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    color: white;
    display: block;

    margin: 0 0.6em;
    padding: 0.3em 1.2em;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s;
    font-size: 1.2dvw;
}

header nav ul li a:hover {
    color: #020617;
    background-color: #e2e8f0;
    transform: translateY(-4px);
}

.activeHeader {
    color: #020617;
    background-color: white;
}
