@media (max-width: 1000px) {
    header {
        padding: 0 2.5em;
    }
}

@media (max-width: 950px) {
    header {
        padding: 0 1.5em;
    }
}

@media (max-width: 700px) {
    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu.active {
        transition: rotate 1s;
        transform: rotate(90deg);
    }

    .line {
        width: 1.5em;
        height: 0.3em;
        margin: 0.2em 0em;
        background-color: white;
    }

    nav {
        height: 20em;
        width: 100vw;
        position: absolute;
        top: 14.9dvh;
        left: 0;
        right: 0;
        background-color: #0f172a;
        opacity: 0;
    }

    .nav-bar.active {
        transition: opacity 0.3s;
        opacity: 1;
    }

    header nav ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
        margin-top: 2.5em;
    }

    header nav ul li {
        margin-bottom: 2em;
    }


}
